<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet"
          type="text/css"
          href="../../static/styles/bootstrap.css">
    <link href='../../static/styles/styles.css'
          rel='stylesheet'
          type='text/css'>
    <script src=
 "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script src=
 "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
    </script>
    <script src="../../static/scripts/scripts.js"></script>
    <title>Sub Hub</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="logo"><a href="/"><div class="logo-pic"></div></a></div>
        <ul class="navbar-nav">
          <li><a href="/">Home</a></li><!--
          --><li><a href="/Gallery">Gallery</a></li><!--
          --><li id="logo"><a href="/"><div class="logo-pic"></div></a></li><!--
          --><li><a href="/Create">Create</a></li><!--
          --><li><a class="active" href="/About">About</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid content">
      <div class="row">
        <div class="col-md-4">
          <h1 class="page-title">Sandwich Gallery</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="sandwich">
            <div class="sandwich-picture"></div>
            <h2 class="sandwich-name">Erik</h2>
            <div class="sandwich-receipt">
              <h2 class="receipt-title">CodeDay</h2>
              <h2 class="server-name">Position</h2>
              <h2 class="rating">Graphics Designer</h2>
              <h2 class="ingredients">Info</h2>
              <ul class="ingredients-list">
                <li>Bacon</li>
                <li>Avocado</li>
                <li>Chipotle</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
         <div class="sandwich">
            <div class="sandwich-picture"></div>
            <h2 class="sandwich-name">Felicity</h2>
            <div class="sandwich-receipt">
              <h2 class="receipt-title">CodeDay</h2>
              <h2 class="server-name">Position</h2>
              <h2 class="rating">Graphics Designer</h2>
              <h2 class="ingredients">Info</h2>
              <ul class="ingredients-list">
                <li>Bacon</li>
                <li>Avocado</li>
                <li>Chipotle</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="sandwich">
            <div class="sandwich-picture"></div>
            <h2 class="sandwich-name">Raymond</h2>
            <div class="sandwich-receipt">
              <h2 class="receipt-title">CodeDay</h2>
              <h2 class="server-name">Position</h2>
              <h2 class="rating">Back End Developer</h2>
              <h2 class="ingredients">Info</h2>
              <ul class="ingredients-list">
                <li>Bacon</li>
                <li>Avocado</li>
                <li>Chipotle</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="sandwich">
            <div class="sandwich-picture"></div>
            <h2 class="sandwich-name">Roy</h2>
            <div class="sandwich-receipt">
              <h2 class="receipt-title">CodeDay</h2>
              <h2 class="server-name">Position</h2>
              <h2 class="rating">Front End Developer</h2>
              <h2 class="ingredients">Info</h2>
              <ul class="ingredients-list">
                <li>Bacon</li>
                <li>Avocado</li>
                <li>Chipotle</li>
              </ul>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>