<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet"
          type="text/css"
          href="../../static/styles/bootstrap.css">
    <link href='../../static/styles/styles.css'
          rel='stylesheet'
          type='text/css'>
    <script src=
 "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script src=
 "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
    </script>
    <script src="../../static/scripts/scripts.js"></script>
    <title>Sub Hub</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="logo"><a href="/"><div class="logo-pic"></div></a></div>
        <ul class="navbar-nav">
          <li><a href="/">Home</a></li><!--
          --><li><a href="/Gallery">Gallery</a></li><!--
          --><li id="logo"><a href="/"><div class="logo-pic"></div></a></li><!--
          --><li><a class="active" href="/Create">Create</a></li><!--
          --><li><a href="/About">About</a></li>
        </ul>
      </div>
    </nav>
    <div class="content container-fluid">
      <div class="row">
        <div class="col-lg-offset-1 col-sm-3 col-xs-12">
          <div class="sandwich-details">
            <div class="sandwich-contain">
              <p class="create-title">Type of Sandwich</p>
              <ul>
                <li class="choice" id="hero"><p>Hero</p></li>
                <li class="choice" id="classic"><p>Classic Sandwich</p></li>
                <li class="choice" id="burger"><p>Hamburger</p></li>
                <li class="choice" id="bagel"><p>Bagel</p></li>
                <li class="choice" id="roll"><p>Roll</p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
                <li class="choice" style="display:none"><p></p></li>
              </ul>
            </div>
            <div class="next"> Next </div>
            <div class="previous noShow"> Previous </div>
            <div class="finish noShow">Finish</div>
          </div>
        </div>
        <div class="col-lg-8 col-sm-9 col-xs-12">
          <div class="sandwich-display">
          </div>
        </div>
      </div>
    </div>
  </body>
</html>