<html lang="en-US">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet"
          type="text/css"
          href="../../static/styles/bootstrap.css">
    <link href='../../static/styles/styles.css'
          rel='stylesheet'
          type='text/css'>
    <script src=
 "https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script src=
 "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
    </script>
    <script src="../../static/scripts/scripts.js"></script>
    <title>Sub Hub</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="logo">Sub Hub</div>
        <ul class="navbar-nav">
          <li><a class="active" href="/">Home</a></li><!--
          --><li><a href="/Gallery">Gallery</a></li><!--
          --><li id="logo"><a href="/">Sub Hub</a></li><!--
          --><li><a href="/Create">Create</a></li><!--
          --><li><a href="/About">About</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid content">
      <div class="row">
        <div class="col-md-4">
          <h1 class="page-title">Sandwich Gallery</h1>
        </div>
      </div>
      <div class="row">