$primary-text: black;
$primary-color: red;
$nav-text: #FF8002;
$nav-color: #FFF8E7;
$primary-font: Helvetica, sans-serif;
$background-color: #FFF8E7;
$select-color: #FF9A23;

body {
  background-color: $background-color;
  height: 100%;
}
html {
  height: 100%;
}
.material-shadow {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
nav {
  font-family: $primary-font;
  background-color: $nav-color !important;
}
.navbar-nav {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  li{
    display: inline-block;
    width: 100px;
    text-align: center;
    height: 30px;
    position: relative;
    top: -25px;
    a {
      color: $nav-text;
      font-size: 14px;
      padding: 0;
      line-height: 30px;
    }
    a:link {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
    a:visited {
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
  }
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 60px;
  .container-fluid {
    padding: 0 !important;
  }
}
.nav-shadow {
  @extend .material-shadow;
}
#logo {
  height: 60px;
  width: 150px;
  top: 0;
}
.logo {
  height: 60px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 60px;
}
.logo-pic {
  height: 60px;
  width: 150px;
  background: url("../data/logo.png") center center no-repeat;
  background-size: cover;
}
.content {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
}
.button-group {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 400px;
  position: relative;
}
.explore {
  @extend .material-shadow;
  border-radius: 10px;
  background-color: $select-color;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  a {
    line-height: 50px;
    color: black;
  }
}
.create {
  @extend .material-shadow;
  border-radius: 10px;
  background-color: $select-color;
  height: 40px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  a {
    line-height: 40px;
    color: $primary-text;
  }
}
.page-title {
  font-size: 20px;
  margin-bottom: 30px;
}
.sandwich {
  width: 310px;
  height: 650px;
  padding-top: 29px;
  background: url(../data/polaroid.png) center center no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 20px;
}
.sandwich-name {
  margin: 0;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 30px;
}
.sandwich-picture {
  height: 272px;
  width: 273px;
  margin-left: 19px;
}
.sandwich-receipt {
  padding-left: 10px;
  height: 303px;
  width: 151px;
  margin-left: 138px;
  margin-top: 5px;
}
.ingredients {
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
}
.rating {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
}
.receipt-title {
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.server-name {
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
}
.ingredients-list {
  width: 120px;
  height: 150px;
  overflow-y: auto;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 14px;
  padding-left: 5px;
  list-style: none;
  li + li {
    margin-top: 5px;
  }
}
.creator-name {
  font-size: 14px;
  margin-top: 0;
  font-weight: normal;
}
.more {
  width: 80px;
  margin-left: 150px;
  font-size: 12px;
  color: $primary-text;
  cursor: pointer;
}
.less {
  width: 80px;
  margin-left: 150px;
  font-size: 12px;
  color: $primary-text;
  cursor: pointer;
}
.sandwich-details {
  @extend .material-shadow;
  background-color: white;
  width: 200px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 30px;
  p {
    padding-top: 20px;
    font-weight: bold;
    border: 0;
    cursor: default;
    padding-left: 15px;
    text-decoration: underline;
  }
  ul {
    padding-top: 0px;
    padding-left: 0;
    list-style: none;
    height: 400px;
    overflow-y: auto;
    .choice {
      height: 50px;
      p {
        text-decoration: none;
        cursor: pointer;
        padding-top: 0;
        font-weight: normal;
        padding-left: 25px;
        line-height: 50px;
        margin-bottom: 0;
      }
    }
    .choice:hover {
      border-bottom: 0 !important;
      background-color: $select-color;
      color: white;
    }
    .selected {
      background-color: $select-color;
      color: white;
    }
  }
  .subset {
    height: 30px;
    padding-left: 5px;
    p {
      line-height: 30px;
    }
  }
  .expand-button {
    height: 30px;
    width: 30px;
    display: inline;
    position: relative;
    float: right;
    border: 1px solid black;
    line-height: 28px;
    top: 10px;
    right: 10px;
    font-size: 20px;
    text-align: center;
  }
  .next {
    height: 40px;
    line-height: 40px;
    width: 80px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
    border: 1px solid black;
  }
  .previous {
    height: 40px;
    line-height: 40px;
    width: 80px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 20px;
    left: 10px;
    border: 1px solid black;
  }
  .finish {
    height: 40px;
    line-height: 40px;
    width: 80px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    bottom: 20px;
    right: 10px;
    border: 1px solid black;
  }
}
.sandwich-display {
  @extend .material-shadow;
  background-color: white;
  width: 600px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 50px;
}
.noSelect {
  position: absolute;
  bottom: 60px;
  color: red;
  text-decoration: none !important;
}
.noShow {
  display: none;
}
@media screen and (max-width: 550px) {
  .navbar {
    height: 90px;
  }
  .navbar-nav {
    width: 100%;
    li {
      width: 25%;
      top: -5px;
    }
    #logo {
      display: none;
    }
    .logo {
      display: block;
    }
  }
  .content {
    padding-top: 90px;
  }
}
.home-screen {
  height: 720px;
  width: 1080px;
  background: url(../data/background.png) center center no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}
.home {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 20px;
}
.home-text {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
}
#create-name {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
#create-input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.success {
  font-size: 30px;
  text-align: center;
}
.success-links {
  margin-top: 50px;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}
.success-button {
  width: 150px;
  height: 50px;
  line-height: 50px;
  @extend .material-shadow;
  border-radius: 10px;
  background-color: $select-color;
  text-align: center;
  display: inline-block;
  margin-left: 100px;
  a {
    color: black;
    padding-top: 17px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@mixin ingredient($type) {
  width: 400px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background: url($type) center center no-repeat;
  background-size: contain;
}
@mixin bun-top($type) {
  width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background: url($type) center center no-repeat;
  background-size: contain;
}
@mixin bun-bot($type) {
  width: 360px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background: url($type) center center no-repeat;
  background-size: contain;
}
#tomato-display {
  @include ingredient("../data/Ingredients/Tomato.png");
}
#bagel-bot {
  @include bun-bot("../data/Ingredients/bagelbot.png");
}
#bagel-top {
  @include bun-top("../data/Ingredients/bageltop.png");
}
#lettuce-display {
  @include ingredient("../data/Ingredients/Lettuce.png");
}
#american-display {
  @include ingredient("../data/Ingredients/american.png");
}
#cheddar-display {
  @include ingredient("../data/Ingredients/cheddar.png");
}
#ham-display {
  @include ingredient("../data/Ingredients/hamside.png");
}
#chipotle-display {
  @include ingredient("../data/Ingredients/chipotle.png");
}
#ketchup-display {
  @include ingredient("../data/Ingredients/ketchup.png");
}
#mayo-display {
  @include ingredient("../data/Ingredients/mayo.png");
}
#mustard-display {
  @include ingredient("../data/Ingredients/mustard.png");
}
#swiss-display {
  @include ingredient("../data/Ingredients/swiss.png");
}
#turkey-display {
  @include ingredient("../data/Ingredients/swiss.png");
}
#avocado-display {
  @include ingredient("../data/Ingredients/Avocado.png");
}
#bacon-display {
  @include ingredient("../data/Ingredients/Bacon.png");
}
#patty-display {
  @include ingredient("../data/Ingredients/Hamburger_patty.png");
}
#hero-italian {
  @include bun-top("../data/Ingredients/herotop.png");
}
#hero-italian-bot {
  @include bun-top("../data/Ingredients/herobot.png");
}
#burger-sesame {
  @include bun-top("../data/Ingredients/burgertop.png");
}
#burger-bot {
  @include bun-bot("../data/Ingredients/burgerbot.png");
}
#classic-white {
  @include bun-top("../data/Ingredients/bread.png");
}

@mixin bun-top-small($type) {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background: url($type) center center no-repeat;
  background-size: contain;
}
@mixin bun-bot-small($type) {
  width: 180px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
  background: url($type) center center no-repeat;
  background-size: contain;
}
@mixin ingredient-small($type) {
  width: 200px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  background: url($type) center center no-repeat;
  background-size: contain;
}
#tomato-display-small {
  @include ingredient-small("../data/Ingredients/Tomato.png");
}
#bagel-bot-small {
  @include bun-bot-small("../data/Ingredients/bagelbot.png");
}
#bagel-top-small {
  @include bun-top-small("../data/Ingredients/bageltop.png");
}
#lettuce-display-small {
  @include ingredient-small("../data/Ingredients/Lettuce.png");
}
#american-display-small {
  @include ingredient-small("../data/Ingredients/american.png");
}
#cheddar-display-small {
  @include ingredient-small("../data/Ingredients/cheddar.png");
}
#ham-display-small {
  @include ingredient-small("../data/Ingredients/hamside.png");
}
#chipotle-display-small {
  @include ingredient-small("../data/Ingredients/chipotle.png");
}
#ketchup-display-small {
  @include ingredient-small("../data/Ingredients/ketchup.png");
}
#mayo-display-small {
  @include ingredient-small("../data/Ingredients/mayo.png");
}
#mustard-display-small {
  @include ingredient-small("../data/Ingredients/mustard.png");
}
#swiss-display-small {
  @include ingredient-small("../data/Ingredients/swiss.png");
}
#turkey-display-small {
  @include ingredient-small("../data/Ingredients/swiss.png");
}
#avocado-display-small {
  @include ingredient-small("../data/Ingredients/Avocado.png");
}
#bacon-display-small {
  @include ingredient-small("../data/Ingredients/Bacon.png");
}
#patty-display-small {
  @include ingredient-small("../data/Ingredients/Hamburger_patty.png");
}
#hero-italian-small {
  @include bun-top-small("../data/Ingredients/herotop.png");
}
#hero-italian-bot-small {
  @include bun-top-small("../data/Ingredients/herobot.png");
}
#burger-sesame-small {
  @include bun-top-small("../data/Ingredients/burgertop.png");
}
#burger-bot-small {
  @include bun-bot-small("../data/Ingredients/burgerbot.png");
}
#classic-white-small {
  @include bun-top-small("../data/Ingredients/bread.png");
}

@media screen and (min-width: 550px) {
  .logo {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  .sandwich-display {
    width: 100%;
  }
  .sandwich-details {
    width: 100% !important;
  }
}
@media screen and (max-width: 880px) {
  .sandwich-details {
    width: 600px;
    height: 400px;
  }
  .sandwich-contain {
    ul {
      height: 270px;
      overflow-y: auto;
    }
  }
}

