/* line 9, styles.scss */
body {
  background-color: #fff8e7;
  height: 100%;
}

/* line 13, styles.scss */
html {
  height: 100%;
}

/* line 16, styles.scss */
.material-shadow, .nav-shadow, .explore, .create, .sandwich-details, .sandwich-display, .success-button {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 19, styles.scss */
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 24, styles.scss */
nav {
  font-family: Helvetica, sans-serif;
  background-color: #fff8e7 !important;
}

/* line 28, styles.scss */
.navbar-nav {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 35, styles.scss */
.navbar-nav li {
  display: inline-block;
  width: 100px;
  text-align: center;
  height: 30px;
  position: relative;
  top: -25px;
}
/* line 42, styles.scss */
.navbar-nav li a {
  color: #ff8002;
  font-size: 14px;
  padding: 0;
  line-height: 30px;
}
/* line 48, styles.scss */
.navbar-nav li a:link {
  text-decoration: none;
}
/* line 51, styles.scss */
.navbar-nav li a:hover {
  text-decoration: none;
}
/* line 54, styles.scss */
.navbar-nav li a:visited {
  text-decoration: none;
}
/* line 57, styles.scss */
.navbar-nav li a:active {
  text-decoration: none;
}

/* line 62, styles.scss */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 60px;
}
/* line 67, styles.scss */
.navbar .container-fluid {
  padding: 0 !important;
}

/* line 74, styles.scss */
#logo {
  height: 60px;
  width: 150px;
  top: 0;
}

/* line 79, styles.scss */
.logo {
  height: 60px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 60px;
}

/* line 87, styles.scss */
.logo-pic {
  height: 60px;
  width: 150px;
  background: url("../data/logo.png") center center no-repeat;
  background-size: cover;
}

/* line 93, styles.scss */
.content {
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 70px;
  padding-left: 40px;
  padding-right: 40px;
}

/* line 101, styles.scss */
.button-group {
  width: 200px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  top: 400px;
  position: relative;
}

/* line 109, styles.scss */
.explore {
  border-radius: 10px;
  background-color: #ff9a23;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
/* line 118, styles.scss */
.explore a {
  line-height: 50px;
  color: black;
}

/* line 123, styles.scss */
.create {
  border-radius: 10px;
  background-color: #ff9a23;
  height: 40px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
}
/* line 133, styles.scss */
.create a {
  line-height: 40px;
  color: black;
}

/* line 138, styles.scss */
.page-title {
  font-size: 20px;
  margin-bottom: 30px;
}

/* line 142, styles.scss */
.sandwich {
  width: 310px;
  height: 650px;
  padding-top: 29px;
  background: url(../data/polaroid.png) center center no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 20px;
}

/* line 153, styles.scss */
.sandwich-name {
  margin: 0;
  font-size: 16px;
  margin-left: 10px;
  margin-top: 30px;
}

/* line 159, styles.scss */
.sandwich-picture {
  height: 272px;
  width: 273px;
  margin-left: 19px;
}

/* line 164, styles.scss */
.sandwich-receipt {
  padding-left: 10px;
  height: 303px;
  width: 151px;
  margin-left: 138px;
  margin-top: 5px;
}

/* line 171, styles.scss */
.ingredients {
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
}

/* line 176, styles.scss */
.rating {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: normal;
}

/* line 182, styles.scss */
.receipt-title {
  margin-top: 10px;
  margin-left: -10px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

/* line 190, styles.scss */
.server-name {
  margin-top: 10px;
  font-size: 14px;
  font-weight: normal;
}

/* line 195, styles.scss */
.ingredients-list {
  width: 120px;
  height: 150px;
  overflow-y: auto;
  margin-top: 5px;
  margin-left: 15px;
  font-size: 14px;
  padding-left: 5px;
  list-style: none;
}
/* line 204, styles.scss */
.ingredients-list li + li {
  margin-top: 5px;
}

/* line 208, styles.scss */
.creator-name {
  font-size: 14px;
  margin-top: 0;
  font-weight: normal;
}

/* line 213, styles.scss */
.more {
  width: 80px;
  margin-left: 150px;
  font-size: 12px;
  color: black;
  cursor: pointer;
}

/* line 220, styles.scss */
.less {
  width: 80px;
  margin-left: 150px;
  font-size: 12px;
  color: black;
  cursor: pointer;
}

/* line 227, styles.scss */
.sandwich-details {
  background-color: white;
  width: 200px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-bottom: 30px;
}
/* line 236, styles.scss */
.sandwich-details p {
  padding-top: 20px;
  font-weight: bold;
  border: 0;
  cursor: default;
  padding-left: 15px;
  text-decoration: underline;
}
/* line 244, styles.scss */
.sandwich-details ul {
  padding-top: 0px;
  padding-left: 0;
  list-style: none;
  height: 400px;
  overflow-y: auto;
}
/* line 250, styles.scss */
.sandwich-details ul .choice {
  height: 50px;
}
/* line 252, styles.scss */
.sandwich-details ul .choice p {
  text-decoration: none;
  cursor: pointer;
  padding-top: 0;
  font-weight: normal;
  padding-left: 25px;
  line-height: 50px;
  margin-bottom: 0;
}
/* line 262, styles.scss */
.sandwich-details ul .choice:hover {
  border-bottom: 0 !important;
  background-color: #ff9a23;
  color: white;
}
/* line 267, styles.scss */
.sandwich-details ul .selected {
  background-color: #ff9a23;
  color: white;
}
/* line 272, styles.scss */
.sandwich-details .subset {
  height: 30px;
  padding-left: 5px;
}
/* line 275, styles.scss */
.sandwich-details .subset p {
  line-height: 30px;
}
/* line 279, styles.scss */
.sandwich-details .expand-button {
  height: 30px;
  width: 30px;
  display: inline;
  position: relative;
  float: right;
  border: 1px solid black;
  line-height: 28px;
  top: 10px;
  right: 10px;
  font-size: 20px;
  text-align: center;
}
/* line 292, styles.scss */
.sandwich-details .next {
  height: 40px;
  line-height: 40px;
  width: 80px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 10px;
  border: 1px solid black;
}
/* line 304, styles.scss */
.sandwich-details .previous {
  height: 40px;
  line-height: 40px;
  width: 80px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 10px;
  border: 1px solid black;
}
/* line 316, styles.scss */
.sandwich-details .finish {
  height: 40px;
  line-height: 40px;
  width: 80px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 20px;
  right: 10px;
  border: 1px solid black;
}

/* line 329, styles.scss */
.sandwich-display {
  background-color: white;
  width: 600px;
  height: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 50px;
}

/* line 339, styles.scss */
.noSelect {
  position: absolute;
  bottom: 60px;
  color: red;
  text-decoration: none !important;
}

/* line 345, styles.scss */
.noShow {
  display: none;
}

@media screen and (max-width: 550px) {
  /* line 349, styles.scss */
  .navbar {
    height: 90px;
  }

  /* line 352, styles.scss */
  .navbar-nav {
    width: 100%;
  }
  /* line 354, styles.scss */
  .navbar-nav li {
    width: 25%;
    top: -5px;
  }
  /* line 358, styles.scss */
  .navbar-nav #logo {
    display: none;
  }
  /* line 361, styles.scss */
  .navbar-nav .logo {
    display: block;
  }

  /* line 365, styles.scss */
  .content {
    padding-top: 90px;
  }
}
/* line 369, styles.scss */
.home-screen {
  height: 720px;
  width: 1080px;
  background: url(../data/background.png) center center no-repeat;
  background-size: contain;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

/* line 378, styles.scss */
.home {
  width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  padding-top: 20px;
}

/* line 385, styles.scss */
.home-text {
  margin-top: 50px;
  font-size: 24px;
  text-align: center;
}

/* line 390, styles.scss */
#create-name {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  margin-top: 20px;
  margin-bottom: 30px;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* line 401, styles.scss */
#create-input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  line-height: 50px;
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

/* line 410, styles.scss */
.success {
  font-size: 30px;
  text-align: center;
}

/* line 414, styles.scss */
.success-links {
  margin-top: 50px;
  width: 620px;
  margin-left: auto;
  margin-right: auto;
}

/* line 420, styles.scss */
.success-button {
  width: 150px;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  background-color: #ff9a23;
  text-align: center;
  display: inline-block;
  margin-left: 100px;
}
/* line 430, styles.scss */
.success-button a {
  color: black;
  padding-top: 17px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
}

/* line 462, styles.scss */
#tomato-display {
  width: 400px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background: url("../data/Ingredients/Tomato.png") center center no-repeat;
  background-size: contain;
}

/* line 465, styles.scss */
#bagel-bot {
  width: 360px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  background: url("../data/Ingredients/bagelbot.png") center center no-repeat;
  background-size: contain;
}

/* line 468, styles.scss */
#bagel-top {
  width: 400px;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  background: url("../data/Ingredients/bageltop.png") center center no-repeat;
  background-size: contain;
}

/* line 471, styles.scss */
#lettuce-display {
  width: 400px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  background: url("../data/Ingredients/Lettuce.png") center center no-repeat;
  background-size: contain;
}

@media screen and (min-width: 550px) {
  /* line 475, styles.scss */
  .logo {
    display: none;
  }
}
@media screen and (max-width: 660px) {
  /* line 480, styles.scss */
  .sandwich-display {
    width: 100%;
  }

  /* line 483, styles.scss */
  .sandwich-details {
    width: 100% !important;
  }
}
@media screen and (max-width: 880px) {
  /* line 488, styles.scss */
  .sandwich-details {
    width: 600px;
    height: 400px;
  }

  /* line 493, styles.scss */
  .sandwich-contain ul {
    height: 270px;
    overflow-y: auto;
  }
}
