/* line 6, styles.scss */
.material-shadow, .nav-shadow {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* line 9, styles.scss */
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

/* line 14, styles.scss */
.container-fluid {
  padding: 0 !important;
}

/* line 17, styles.scss */
nav {
  font-family: Helvetica, sans-serif;
  background-color: white !important;
}

/* line 21, styles.scss */
.navbar-nav {
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
/* line 28, styles.scss */
.navbar-nav li {
  display: inline-block;
  width: 100px;
  text-align: center;
  height: 30px;
  position: relative;
}
/* line 34, styles.scss */
.navbar-nav li a {
  color: black;
  font-size: 14px;
  padding: 0;
  line-height: 30px;
}
/* line 40, styles.scss */
.navbar-nav li a:link {
  text-decoration: none;
}
/* line 43, styles.scss */
.navbar-nav li a:hover {
  text-decoration: none;
}
/* line 46, styles.scss */
.navbar-nav li a:visited {
  text-decoration: none;
}
/* line 49, styles.scss */
.navbar-nav li a:active {
  text-decoration: none;
}

/* line 54, styles.scss */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 60px;
}

/* line 63, styles.scss */
#logo {
  height: 60px;
  width: 150px;
  top: 0;
}
/* line 67, styles.scss */
#logo a {
  line-height: 60px;
}

/* line 71, styles.scss */
.logo {
  height: 60px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  line-height: 60px;
}

@media screen and (max-width: 550px) {
  /* line 80, styles.scss */
  .navbar {
    height: 90px;
  }

  /* line 83, styles.scss */
  .navbar-nav {
    width: 100%;
  }
  /* line 85, styles.scss */
  .navbar-nav li {
    width: 25%;
  }
  /* line 88, styles.scss */
  .navbar-nav #logo {
    display: none;
  }
  /* line 91, styles.scss */
  .navbar-nav .logo {
    display: block;
  }
}
@media screen and (min-width: 550px) {
  /* line 97, styles.scss */
  .logo {
    display: none;
  }
}
